html, body, main { margin: 0; padding: 0; box-sizing: border-box; }
body {
    background: linear-gradient(to right, black, white);
}
main {
    width: 100vw;
    height: 100vh;
    transition: opacity 100ms ease-out;
}
main > svg {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
}
button {
    background: transparent;
    border-width: 0;
    color: black;
    position: absolute;
    display: none;
    filter: drop-shadow(0px 0px 2px #fff);
    background: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2vw;
}
#inventory {
    position: absolute;
    background: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#inventory ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#inventory ul li {
    margin: 0;
    padding: 0;
    background: radial-gradient(closest-side, white, black);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}
#inventory ul li[data-using="yes"] {
    background: radial-gradient(closest-side, yellow, black);
}
#inventory ul li svg {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
}
#draweropen1, #draweropen2, #draweropen3, #draweropen4 {
    transition: transform 200ms ease-in-out;
}
#flame {
    animation: flicker 220ms infinite alternate, judder 480ms infinite alternate;
    transform-origin: 70% 20%;
}
@keyframes flicker { 0% { opacity: 0.7; } 100% { opacity: 1; } }
@keyframes judder {
    0% { transform: scaleY(0.95) } 
    100% { transform: scaleY(1.05) }
}

.chosen-coin ellipse:nth-of-type(2) {
    fill: rgba(0, 255, 0, 0.4) !important;
}
ellipse.available-slot {
    fill: rgba(0, 255, 0, 0.4) !important;
}
aside#error {
    position: absolute;
    background: black;
    color: white;
    font-family: 'Nanum Brush Script', cursive;
    border-radius: 20px;
    font-size: 3vw;
    padding: 0.2vw 1vw;
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}
aside#taken {
    position: absolute;
    background: black;
    color: white;
    font-family: 'Nanum Brush Script', cursive;
    border-radius: 20px;
    font-size: 3vw;
    padding: 0.2vw 1vw;
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}
[data-clickrect] {
    stroke-width: 0 !important;
}
